* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navbar Main */
.custom-navbar {
    background-color: #7fa1c3;
    padding: 15px 30px;
    /* top-bottom | left-right */
}

/* Brand */
.navbar-brand {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

/* Search Input */
.search-input {
    width: 200px;
    margin-right: 10px;
}

/* Search Button */
.btn-search {
    margin-right: 10px;
    padding: 6px 18px;
    background-color: #2a649b;
    color: white;

}

.btn-search:hover {
    margin-right: 10px;
    padding: 6px 18px;
    background-color: #2a649b;
    color: white;
}

/* Logout Button */
.btn-danger {
    padding: 6px 18px;
}

/* Responsive Adjustment */
@media (max-width: 768px) {
    .custom-navbar {
        padding: 10px 15px;
    }

    .search-input {
        width: 130px;
    }
}

.myBtn {
    background-color: rgb(84, 133, 224);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.myBtn:hover {
    background-color: rgb(84, 133, 224);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.bgImg {
    width: 50px;
    height: 50px;
}

.bgImg:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.selectedImg {
    border: 2px solid #0b0c0d;
    border-radius: 5px;
}

.myedit {
    background-color: rgb(6, 38, 99);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.myedit:hover {
    background-color: rgb(6, 38, 99);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.mydelete {
    background-color: rgb(176, 29, 0);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.mydelete:hover {
    background-color: rgb(176, 29, 0);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}