* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: antiquewhite;
}

.navbar {
    background-color: rgba(86, 125, 192, 0.639);
}

.myBtn {
    background-color: rgb(84, 133, 224);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.myBtn:hover {
    background-color: rgb(84, 133, 224);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.bgImg {
    width: 50px;
    height: 50px;
}

.bgImg:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.selectedImg {
    border: 2px solid #000000;
    border-radius: 5px;
}

.selectedImg:hover {
    border: 2px solid #040b13;
    border-radius: 5px;
}

.myedit {
    background-color: rgb(6, 38, 99);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.myedit:hover {
    background-color: rgb(6, 38, 99);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.mydelete {
    background-color: rgb(176, 29, 0);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}

.mydelete:hover {
    background-color: rgb(176, 29, 0);
    color: whitesmoke;
    width: 100px;
    border-radius: 5px;
}